### pandas
> 파이썬 데이터 조작 및 분석을 위한 라이브러리

In [2]:
import pandas as pd

In [4]:
# dataframe 생성
data = {'이름': ['철수', '영희', '민수'],
        '나이': [25, 22, 28],
        '성별': ['남', '여', '남']}
df = pd.DataFrame(data)
print(df)

   이름  나이 성별
0  철수  25  남
1  영희  22  여
2  민수  28  남

In [5]:
# 데이터프레임 copy
df_c = df.copy()

In [6]:
# 특정 열 제거
df_c.drop('이름', axis=1)

   나이 성별
0  25  남
1  22  여
2  28  남

In [7]:
# 중복 행 제거
df_c.drop_duplicates()
print(df)

   이름  나이 성별
0  철수  25  남
1  영희  22  여
2  민수  28  남

In [10]:
# 데이터 프레임 연결 concatenate
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
result = pd.concat([df1, df2], ignore_index=True)

print(result)

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [11]:
# 데이터프레임 병합(merge)
df_left = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'value': [1, 2, 3]})
df_right = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'value': [4, 5, 6]})
result = pd.merge(df_left, df_right, on='key')

print(result)

  key  value_x  value_y
0  K0        1        4
1  K1        2        5
2  K2        3        6